<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title"> -->
  <link rel="stylesheet" href="../static/css/skeleton.css" media="screen" title="no title">
  <link rel="stylesheet" href="../static/css/style.css" media="screen" title="no title">
  <meta charset="utf-8">
  <meta charset="utf-8">
  <title>Heart of the Swarmed</title>
</head>

<body>
  <div class='container'>
    <header class="nine columns text-center">
      <h1>SWARMED</h1>
      <p>Produced by Lizard Entertainment</p>
    </header>

    <div class="twelve columns canvas">
      <div id='gameCanvas'></div>
    </div>
    <audio id='menuTheme' src="../static/assets/audio/Theme1.ogg"></audio>
    <audio id='gameTheme' src="../static/assets/audio/Main1.ogg"></audio>
    <audio id='firstEnemySpawn' src="../static/assets/audio/firstSpawn.ogg"></audio>
    <audio id='powerUpSpawn' src="../static/assets/audio/powerUpSpawn.ogg"></audio>
    <audio id='enemyHit' src="../static/assets/audio/mutaDeath.ogg"></audio>
    <audio id='shieldsUp' src="../static/assets/audio/shieldsUp.ogg"></audio>
    <audio id='nukeSpawn' src="../static/assets/audio/nuclearLaunch.ogg"></audio>
    <audio id='nukeAudio' src="../static/assets/audio/nuclearBomb.ogg"></audio>
    <audio id='nitroAudio' src="../static/assets/audio/nitroUp.ogg"></audio>
    <audio id='loseAudio' src="../static/assets/audio/queenB.ogg"></audio>
    <audio id='playerDeath' src="../static/assets/audio/playerDeath.ogg"></audio>

  </div>
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
  <script src="../static/scripts/jquery-3.1.1.js" charset="utf-8"></script>
  <script src="../static/scripts/phaser.min.js" charset="utf-8"></script>
  <script src="../static/scripts/main.js" charset="utf-8"></script>
</body>

</html>
